* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: aquamarine;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
h1 {
  font-size: 200px;
  position: absolute;
  left: 10%;
  top: 40%;
}
