* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  text-align: center;
}
h1 {
  font-size: 200px;
  left: 10%;
  top: 40%;
}

p {
  color: red;
}
