* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: aquamarine;
  box-sizing: border-box;
}

h1 {
  font-size: 200px;
  position: absolute;
  left: 10%;
  top: 40%;
}
